    * {
     background-color: rgb(252, 163, 61);
      }
     p {
     font-family: "Times New Roman", Times, serif;
     text-align: justify;
        }
     h1 {
     font-family: "Arial", sans-serif;
     text-transform: capitalize;
     font-size: 3em;
        }
     .Jenaka {
     font-size: 16px;
     font-weight: 250;
        }
     .Nasihat {
     font-size: 100%;
     font-weight: 600;
     }
     .Teka Teki{
     font-weight: 200;
        }