/* Style for the External CSS file */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    color: #2335ff;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
h2 {
    color: #09ff09;
    line-height: 1.6;
    margin-top: 0 30px;
    font-size: 20px;
}
p {
    color: gold;
    line-height: 1.6;
    margin-top: 0 20px;
    font-size: 15px;
}