.judul {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.paragraf {
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

.box1 {
    width: 20cm;
    -ms-hyphenate-limit-zone: ;
}

.box2 {

}